<?xml version="1.0"?>
<appSettings>  
  <!--******** Basic Auth Example User ********-->
  <add key="username" value="test" />
  <add key="password" value="1234" />

  <!--******** Quartz ********-->
  <add key="QuartzServerAddress" value="127.0.0.1" />
  <add key="QuartzServerPort" value="555" />
  <add key="QuartzSchedulerName" value="QuartzScheduler" />
</appSettings>